<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
  window.images = {
    humanbookLogo: "<%= image_path("text-logo.png") %>",
    logoIcon: "<%= image_path("favicon_xl.png") %>"
  }
</script>
<main id="root"></main>
