body {
  background: #edf0f5;
}

.mainsplash {
  font-family: 'Source Sans Pro', sans-serif;
  .topbar {
    background: linear-gradient(#4e69a2, #3b5998 50%);
    height: 82px;
    border-bottom: 1px solid #29487d;
    display: flex;
    justify-content: space-between;
  }

  button {
    color: #9cb4d8;
    background: none;
    border: none;
    padding: 0;
    text-align: left;
    font-size: 12px;
    width: 73px;
    left: 8px;
    top: 2px;
    position: relative;
  }

  button:hover {
    text-decoration: underline;
  }

  img {
    height: 120px;
    position: relative;
    top: -10px;
    width: auto;
    padding-left: 100px;
  }

  .field {
    display: table-cell;
    font-size: 12px;
    border: 1px solid #1d2a5b;
    width: 142px;
    padding: 3px;
    margin: 0 8px;
  }

  .field-grp {
    display: flex;
    flex-direction: column;
  }

  .topbar label {
    color: white;
    font-size: 12px;
    padding: 6px 9px;
  }

  .form-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 145px;
    align-items: flex-start;
  }

  .button {
    color: white;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    padding: 2px 6px;
    text-align: center;
    background-color: #4267b2;
    border: 1px solid #29487d;
    height: 24px;
    margin: 24px 0 0 8px;
  }

  .button:hover {
    background-color: #365899;
    border-color: #29487d;
  }

  .button:active {
    background-color: #29487d;
    border-color: #29487d
  }

  .main-wrapper {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 980px;

  .fluff-wrapper {
    display: flex;
    flex-direction: column;
    font-weight: 600;


    .fluff-list {
      display: flex;
      flex-direction: column;
    }

    h1 {
      padding: 45px 0 25px;
      font-size: 28px;
      line-height: 36px;
      font-weight: 600;
    }

    li {
      display: flex;
      padding: 20px 0 10px;
      align-items: center;
    }

    li > * {
      padding: 0px 10px 5px;
    }

    img {
      width: 48px;
      height: auto;
      padding: 0 20px 0 0;
    }

    p {
      font-size: 18px;
    }

    small {
      font-size: 16px;
      font-weight: 400;
      color: #666;
    }

  }
  .error-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .error {
    background-color: #be4b49;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    color: #fff;
    position: relative;

  }

  .e0 {
    top: 160px;
  }

  .e1 {
    top: 60px;
  }

  .e2 {
    top: 60px;
    right: -140px;
  }

  .e3 {
    top: 260px;
  }


  .signup-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;



  * {
    margin: 5px 10px 5px 0;
    font-size: 18px;
    width: auto;
  }

  h1 {
    font-size: 40px;
    font-weight: 600;
  }

  h2 {
    font-size: 19px;
    margin-bottom: 20px;
  }

  label {
    font-size: 20px;
    margin-right: 15px;
  }

  .birthday {
    margin: 20px 0 5px;
  }

  small {
    width: 316px;
    line-height: 134%;
  }

  .dropdown {
    font-size: 13px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 2px;
    height: 30px;
    font-weight: 400;
  }

  .tuple-wrapper {
    display: flex;
    width: 400px;
    margin: 0;

    .field {
      width: 168px;
    }
  }

  .field {
    padding: 8px 10px;
    border-color: #bdc7d8;
    border-radius: 5px;
  }

  .radio {
    margin: 2px;
  }

  small {
    color: #777;
    font-size: 12px;
  }

  .dob-wrapper {
    display: flex;



    .birthday-tt {
      position: relative;
      width: 200px;
      right: 610px;
      bottom: 42px;
      -webkit-user-select: none;
      transition: opacity 400ms;
      font-size: 12px;
      font-weight: 600;
      height: auto;
      border: 1px solid rgba(0, 0, 0, .45);
      border-bottom: 1px solid #666;
      box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
      background: white;
      z-index: 2;


      .tt-content {
        padding: 10px;
      }

      .underlay {
        position: relative;
        background: #f2f2f2;
        padding: 6px 0;
        width: 100%;
        height: 24px;
        top: 21px;
        border-top: 1px solid #ccc;
      }
      .tt-button {
        background-color: #4267b2;
        position: relative;
        left: 70%;
        padding: 0 6px;
        border-radius: 2px;
        width: 44px;
        height: 24px;
        color: white;
        font-size: 12px;
        line-height: 24px;
        margin: 0;
        text-align: center;
      }

      .tt-button:hover {
        background-color: #365899;
      }

      .tt-button:active {
        background-color: #29487d;
      }

      .tt-nib {
        background: white;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        position: relative;
        bottom: 70px;
        right: -195px;
        border-top: inherit;
        border-right: inherit;
      }}
  }

  .question {
    display: block;
    padding: 0 10px;
    margin: 0;
    color: #3b5998;
  }

  .question:hover {
    text-decoration: underline;
    cursor: pointer;
  }

    .signup-button {
      color: white;
      background: linear-gradient(#67ae55, #578843);
      background-color: #69a74e;
      box-shadow: inset 0 1px 1px #a4e388;
      border: 1px solid;
      border-color: #3b6e22 #3b6e22 #2c5115;
      border-radius: 5px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
      font-weight: 700;
      font-size: 19px;
      margin: 10px 0;
      padding: 7px 20px;
      cursor: pointer;
      width: 194px;
    }

    .signup-button:active {
      border: red solid 5px;
    }
  }
}
}
