.spacer{
height: 54px;
width: auto;
}

.postlist-wrapper {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;


  .postform {
    padding: 0;
    flex-direction: column;
    width: 510px;
    margin-bottom: 10px;

    .overbar {
      background: #f6f7f9;
      color: #4b4f56;
      padding: 9px 0;
      border-bottom: 1px solid #e5e5e5;

      label {
        font-size: 12px;
        font-weight: bold;
        margin-left: 45px;

      }
    }

    .form-main {
      position: relative;
      display: flex;
      align-items: center;
      padding-bottom: 10px;

      .nib {
        position: absolute;
        width: 12px;
        height: 12px;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        transform: rotate(45deg);
        bottom: 91.5%;
        left: 11%;
        background: white;
      }

      img {
        height: 40px;
        width: 40px;
        margin-left: 12px;
      }
    textarea {
      padding: 23px 12px 10px;
      font-size: 14px;
      font-family: Helvetica;
      word-wrap: break-word;
      border: none;
      resize: none;
      outline: none;
    }
  }

    .underbar {
      border-top: 1px solid #e5e5e5;
      padding: 8px;
      display: flex;
      justify-content: flex-end;
      background: #f6f7f9;

      .submit {
        align-self: flex-end;
        background-color: #4267b2;
        border: 1px solid;
        border-color: #4267b2;
        border-radius: 2px;
        font-weight: bold;
        text-align: center;
        padding: 0 16px;
        color: white;
        height: 24px;
        font-size: 12px;
      }
    }

    .submit:hover {
    background-color: #365899;
    border-color: #365899;
    cursor: pointer;
    }
  }

.post-item-wrapper {
  height: auto;
  width: 484px;
  margin-bottom: 10px;

  .post-body {
    font-size: 14px;
    color: #1d2129;
    display: flex;
    justify-content: space-between;

    .tt-wrapper {
      align-self: flex-end;
      position: relative;

      img {
        width: 10px;
        height: 10px;
        z-index: 5;
      }
      .post-tt {
        right: -17px;
        top: 150%;
        background: white;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 3px;
        box-shadow: 2px -2px 18px rgba(0, 0, 0, .2);
        padding: 4px 0;
        outline: none;

        .tt-nib {
          pointer-events: none;
          position: absolute;
          width: 0px;
          height: 0px;
          border: 10px solid rgba(0,0,0,0);
          border-bottom: white 10px solid;
          left: 50%;
          bottom: 93%;

        }

        button {
          border: none;
          width: 60px;
          text-align: left;
          background: white;
          padding: 5px 12px;
          color: #1d2129;

        }
        button:hover{
          background: #3b5998;
          color: white;
          border : rgba(0,0,0,0.4) 1px solid;
          border-left: none;
          border-right: none;
          padding: 4px 12px;
        }
      }
    }


  }
}

.label-wrapper {
  display: flex;
  align-items: center;

  .pp-mini {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

.name-label-wrapper {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-around;
  margin-right: auto;

.name-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mini-arrow {
  border: 5px rgba(0,0,0,0) solid;
  border-left: 8px rgb(208, 209, 213) solid;
  margin: 0 5px 0 10px;
  height:0;
  width:0;
  }
  .timestamp {
    font-size: 10px;
    font-weight: 400;
    color: rgb(208, 209, 213);
  }
}
}
}
