.postlist-wrapper {
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  textarea {
    border: 5px green solid;
  }
  .form {
  }
  .underlay {
    height: 10px;
    width: auto;
    .submit {

    }
  }
.post-item-wrapper {
  height: auto;
  width: 484px;

  .post-body {
    font-size: 14px;
    color: #1d2129
  }
}

.label-wrapper {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

.name-label-wrapper {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-around;

.name-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mini-arrow {
  border: 5px rgba(0,0,0,0) solid;
  border-left: 8px rgb(208, 209, 213) solid;
  margin: 0 5px 0 10px;
  height:0;
  width:0;
  }
  .timestamp {
    font-size: 10px;
    font-weight: 400;
    color: rgb(208, 209, 213);
  }
}
}
}
