.top-wrapper{
  width: 849px;
  height: 358px;
  margin: auto;
  background: white;
  border: 1px solid rgba(0,0,0,0.15);
  margin-bottom: 17px;

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

.cover-photo{
  height: 315px;
  width: 849px;
}
.pp-floater {
  display: flex;
  position: relative;
  bottom: 145px;
  left: 20px;


  .pp-border {
    position: absolute;
    border: rgba(0,0,0,0.3) 1px solid;
    border-radius: 3px;
    width: 168px;
    height: 168px;
    display: flex;
    text-align: center;
  }
  .profile-pic {
    width: 160px;
    height: 160px;
    border: white 4px solid;
    border-radius: 3px;
  }

  .pp-change-overlay:hover {
    visibility: visible;
  }

  .name {
    position: absolute;
    width: 200px;
    height: 20px;
    top: 100px;
    left: 22%;
    font-weight: 500;
    text-align: left;
    color: white;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
    text-transform: capitalize;
    margin: auto;
  }

  .profile-btn {
    position: absolute;
    text-align: right;
    font-weight: bold;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    margin-right: 10px;
    top: 100px;
    right: 5%;
    padding: 5px 10px;
    color: #4b4f56;
    font-size: 12px;
    background: white;
  }

  .profile-btn:hover {
    background: #e9ebee;
    cursor: pointer;
  }
}
.profile-tabs{
  position: relative;

  a:first-of-type li {
    border-left: 1px solid #e9eaed;
  }

  a {
    text-decoration: none;
    color: #365899;
    border: none;

    &:hover {
      cursor: pointer;
    }


    li {
      align-self: center;
      color: #365899;
      cursor: pointer;
      text-decoration: none;
      border-right: 1px solid #e9eaed;
      padding: 13.5px 17px;
      font-weight: 700;



      &:hover {
        background: #f6f7f9;
      }
    }
  }

  .nib {
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border: inherit;
    transform: rotate(45deg);
    background: #e9ebee;
    border-top: 1px solid rgba(0,0,0,0.075);
    border-left: 1px solid rgba(0,0,0,0.075);
    top: 95%;
  }

  .timeline {
    left: 9%;
  }

  background: white;
  display: flex;
  width: 500px;
  height: 37px;
  margin-left: 210px;
  align-items: center;


}
}
.profile-content-wrapper{
  width: 851px;
  height: 600px;
  margin: 0 auto;
  display: flex;


  .postlist-wrapper {
    height: 600px;
    overflow: visible;
    justify-content: flex-end;
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    margin-left: 18px;
  }

.sidecards-wrapper{

  ul {
    display: flex;
    flex-direction: column;
    height: auto;
    li {
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 0;
      height: 30px;
      .icon-nano {
        width: 12px;
        height: 12px;
        border: 1px solid rgba(0,0,0,0.3);
        margin: 0;
        margin-right: 12px;
      }
    }
  }

  .sidecard-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .intro-wrapper{


    .sidecard-title{
      border-bottom: 1px solid #eee;
      padding-bottom: 7px;

      .fa-globe {
        text-align: center;
        line-height: 12px;
        width: 14px;
        height: 14px;
        color: white;
        background: #5171b3;
        border: 7px #5171b3 solid;
        border-radius: 100px;
        opacity: 1;
        padding: 1px 0px 1px 2px;
      }
    }

    h2 {
      font-size: 16px;
      padding-left: 12px;
    }

        p:last-of-type {
          color: #aaa;
          text-transform: capitalize;
        }

        li {
          display: flex;
          *:nth-child(2) {
            padding: 6px;
          }
        }

    background: white;
    margin-bottom: 17px;
    width: 297px;
  }
  .friends-side-wrapper{
    .sidecard-title{
      padding-left: 12px;

      .fa-users {
        text-align: center;
        line-height: 12px;
        width: 12px;
        height: 12px;
        color: white;
        background: #f20057;
        border: 7px #f20057 solid;
        border-radius: 100px;
        opacity: 1;
        padding: 2px 4px 2px 0;
        margin-right: 6px;

      }
    }

    h2 {
      padding: 12px 6px;
      &:last-of-type {
        color: #ccc;
        padding-left: 0;
      }
    }
    background: white;
    width: 319px;
    padding: 1px;
    padding-bottom: 4px;

    div:last-of-type{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    .friend-tile {
      width: 100px;
      height: 100px;
      margin: 2px;
      position: relative;

      .friend-tile-name {
        position: absolute;
        font-weight: 500;
        text-align: left;
        color: white;
        font-size: 12px;
        text-rendering: optimizeLegibility;
        text-shadow: 0 0 1px rgba(0,0,0,.8);
        text-transform: capitalize;
        bottom: 5%;
        left: 5%;
        padding: 0 2px;
      }

      .friend-tile-img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
}
}
